<div class="navbar navbar-warning navbar-static-top"  ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-warning-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Eventbrite</a>
    </div>
    <div class="navbar-collapse collapse navbar-warning-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
              <a ng-href="{{item.link}}">{{item.title}}</a>
          </li>
          <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin">Admin</a></li>
        </ul>
    </div>
  </div>
</div>
